<div class='watchListsWrapper'>

  <div class='wlBox'>
    <b><u>Watchlists:</u></b>
    <mat-selection-list #watchListSelect (selectionChange)="onWatchListSelect($event)" placeholder="WatchList">
      <mat-list-option *ngFor="let watchList of watchLists" [value]="watchList.watchListId">
        {{watchList.name}}
      </mat-list-option>
    </mat-selection-list>
  </div>


  <div class='wlBox'>
    <b><u>WatchList Stocks:</u></b>
    <mat-selection-list #stockSelect (selectionChange)="onStockSelected($event)" placeholder="WatchList Stocks">
      <mat-list-option *ngFor="let stock of stocks" [value]="stock.symbol">
        {{stock.companyName}} [ {{stock.symbol}} ]
      </mat-list-option>
    </mat-selection-list>
  </div>

  <div class='wlBox'>
    <b><u>Actions:</u></b><p></p>
    <div>
      <button mat-stroked-button color="primary" (click)="deleteWatchList()" disabled="{{deleteWatchListsDisabled}}">Delete WatchList</button><p></p>
      <button mat-stroked-button color="primary" (click)="deleteStock()" disabled="{{deleteStockDisabled}}">Delete Stock</button>
      <p></p>
    </div>
  </div>

</div>
